*.class

# Package Files #
*.jar
*.war
*.ear
*.iml

*.idea/
*.project
*.settings/
*.classpath
*.classpath/

**/target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties



*.sts4-cache
*.sts4-cache/

*.log
*.gz
